.breadcrumb{background: #f9f9f9!important; color: #777777!important; }  
		.breadcrumb a, .breadcrumb a:link {color: #777777!important; }
		
	 li.ajax_block_product:hover{outline: 1px solid #EBEBEB!important;}
	ul.product_list.grid > li {margin-top: -9px; padding-top:9px;} 
 .product_list.list li.ajax_block_product:hover .product-container {
    border-color: transparent !important; }
  .product_list.list li.ajax_block_product:hover + li .product-container {
    border-color: transparent !important; }
		.flexslider_carousel .functional-buttons, ul.product_list.grid .functional-buttons{ background-color: #ffffff; } 
			.flexslider_carousel .functional-buttons a, .flexslider_carousel .functional-buttons a:link, ul.product_list.grid .functional-buttons a, ul.product_list.grid .functional-buttons a:link { color: #777777 !important; }
			.flexslider_carousel .functional-buttons a:hover, ul.product_list.grid .functional-buttons a:hover{ color: #333333 !important; }
			.flexslider_carousel .product-name-container, ul.product_list.grid .product-name-container{
				height: 17px;}.flexslider_carousel .product-reference, ul.product_list.grid .product-reference{display: none !important;}
			.flexslider_carousel .direction-nav a{ color: #dddddd !important; }
			.flexslider_carousel .direction-nav a:hover{ color: #333333 !important;  }
		#product_condition{ display: none; }
		.new-label{color: #ffffff !important; background: #e7be5c !important;} 
		.sale-label, .price-percent-reduction, #reduction_percent, #reduction_amount{color: #ffffff !important; background: #1cacb7 !important;}  
		.online-label{color: #777777 !important; background: #ffffff !important;}   
		#availability_value, .cart_avail .label-success{color: #ffffff !important; background: #72bb78 !important;} 
		ul.product_list .availability span.out-of-stock, .flexslider_carousel .availability span.out-of-stock, #availability_statut #availability_value.warning_inline,
		#last_quantities, ul.product_list .availability .available-dif, .flexslider_carousel .availability .available-dif
		{color: #ff7430 !important; background: #ffffff !important;}   
		.price.product-price, .our_price_display, .special-price{color: #f13340 !important; }
		div.star.star_on:after, div.star.star_hover:after{color: #8d8d8d !important;}  

		.yotpo .yotpo-bottomline .icon-star, .yotpo .yotpo-bottomline .icon-half-star, .yotpo .yotpo-bottomline .icon-empty-star, 
.yotpo-stars .icon-star, .yotpo-stars .icon-empty-star, .yotpo-stars .yotpo-icon-star, .yotpo-stars .yotpo-icon-empty-star, .yotpo-stars .yotpo-icon-half-star,  .yotpo-stars .icon-half-star{color: #8d8d8d !important;}  
		
		.button.button-small{color: #ffffff !important; background: #939393 !important;}
		.button.button-small:hover{color: #ffffff!important; background: #595959!important;}

		.button.button-medium{color: #ffffff !important; background: #e7be5c!important;}
		.button.button-medium:hover{color: #ffffff!important; background: #c09b43 !important;}

		.button.ajax_add_to_cart_button, .button.lnk_view{color: #ffffff !important; background: #c3c3c3 !important;}
		.button.ajax_add_to_cart_button:hover, .button.lnk_view:hover{color: #ffffff !important; background: #575757!important;}
		.box-info-product .exclusive{color: #ffffff!important; background: #1cacb7 !important;}
		.box-info-product .exclusive:hover{color: #ffffff !important; background: #10868f!important;}
		
		#megamenuiqit .main_menu_link{font-size: 14px;} 
		.page-heading, .pb-center-column h1{font-size: 20px; line-height: 22px; } 
		.page-subheading{font-size: 16px; line-height: 16px;} 
		.nav-tabs > li > a, .block .title_block, .block h4, h3.page-product-heading{font-size: 13px; line-height: 13px;}
		.footer-container #footer1 h4, .footer-container #footer1 h4 a,
		.footer-container #footer h4, .footer-container #footer h4 a{font-size: 13px; line-height: 13px;}
		body, .form-control{font-size: 13px; line-height: 17px;} 
		
		#center-layered-nav .layered_filter_center .layered_subtitle_heading, #center-layered-nav .layeredSortBy{font-size: 13px;} 
		.pb-center-column .product-title{ font-size: 11px;}
		.product-name{ font-size: 13px; line-height:17px; }
		.price.product-price{ font-size: 14px;}
		.online-label, .new-label, .sale-label, ul.product_list .availability span, .flexslider_carousel .availability span{ font-size: 9px;}
		.breadcrumb{ font-size: 11px;}
		.btn{ font-size: 12px;  line-height: 15px;}
		#megamenuiqit .main_menu_link{font-weight: bold !important;}  #megamenuiqit .main_menu_link{text-transform: uppercase !important;}  body{font-family: 'Raleway', sans-serif !important;}  body{background-color: #ffffff !important;} header .banner{background-color: #000000 !important;} header .nav{background-color: transparent !important;} 
		header .nav{color: #777777 !important;}
		header .nav a, header .nav a:link, #slidetopcontentShower, .bt_compare, #languages-block-top div.current, #currencies-block-top div.current{color: #777777 !important;} 
		header .nav a:hover, #slidetopcontentShower:hover, .bt_compare:hover, #languages-block-top div.current:hover, #currencies-block-top div.current:hover{color: #333333 !important;}  
		header .nav{border-bottom: 1px solid #ececec!important;} 
		#languages-block-top div.current.active div, #languages-block-top div.current.active, #languages-block-top ul, #languages-block-top a, #languages-block-top a:link,
		#currencies-block-top div.current.active div, #currencies-block-top div.current.active, #currencies-block-top ul, #currencies-block-top a, #currencies-block-top a:link
		{color: #777777 !important;  background-color: #ffffff !important;}  .header-container{background-color: #ffffff !important;} .container-header{background-color: transparent !important;} .container-header .form-control{color: #9c9b9b !important; background: #ffffff !important;
		border-color: #d6d4d4 !important;
		}
#search_block_top .form-control:-moz-placeholder {
  color: #9c9b9b !important;}
#search_block_top  .form-control::-moz-placeholder {
  color: #9c9b9b !important;}
#search_block_top  .form-control:-ms-input-placeholder {
  color: #9c9b9b !important; }
#search_block_top  .form-control::-webkit-input-placeholder {
  color: #9c9b9b !important; }
		#search_block_top .button-search:before{color: #9c9b9b !important; }
		 .header_user_info, .header_user_info a, .header_user_info a:link {color: #777777}
		.header_user_info a:hover {color: #333333} .shopping_cart > a:first-child span.cart_name:before{ content: "\e605"; font-family: "warehousefont";} .shopping_cart > a:first-child span.cart_name, .shopping_cart > a:first-child span.cart_name:before{color: #777777 ; background: #ffffff;} .shopping_cart .more_info{color: #777777 ; background: #ffffff;} #header .cart_block{color:  ; background: ;} 
		#header .cart_block a, #header .cart_block a:link{color:  ;} 
		#header .cart_block a:hover{color:  ;} 
		#header .cart_block, #header .cart_block *{border-color: #dddddd  !important;} 
		.cart_block .cart-buttons{background: #f6f6f6;} 
			@media (min-width: 768px) {
				header .row #header_logo{height: 120px;}
				header .row #header_logo img{max-height: 80px;}
			#search_block_top{top: 47px;}
			#header .shopping_cart{padding-top: 32px;}
			#header .cart_block{top: 60px;}
				.on_menu #search_block_top{top: 124px !important;}
			}
			.megamenuiqit{background-color: #ffffff !important;} #megamenuiqit .menu_label_tag{background-color: #e7be5c !important; color: #ffffff !important; } 
		#megamenuiqit .menu_label_tag:after{color: #e7be5c !important;}
		#megamenuiqit .main_menu_link, #responsiveMenuShower{color: #777777 }#megamenuiqit .main_menu_link:hover, #megamenuiqit #megamenuiqit .linkHover{background-color: #ffffff !important; color: #1cacb7 !important; }.megamenuiqit{border-color: #dddddd !important;}#megamenuiqit > li:before{color: #a2a2a2;}#megamenuiqit .submenu, #megamenuiqit .another_cats{background-color: #ffffff !important;} #megamenuiqit .submenu_triangle{border-bottom-color: #ffffff !important; } #megamenuiqit .submenu{border-color: #dddddd !important; } #megamenuiqit .submenu_triangle2{border-bottom-color: #dddddd !important; } #megamenuiqit .submenu a, #megamenuiqit .submenu a:link, #megamenuiqit .left_column_subcats li a:before{color: #777777 !important; } #megamenuiqit .submenu a:hover{color: #333333 !important; } .columns-container{background-color: transparent !important;} #columns, body.content_only{background-color: #ffffff !important;} body.content_only{background-image: none !important;} 
			#columns .content-inner *,  #columns .content-inner .form-control, #product_comments_block_tab div.comment .comment_details, #product_comments_block_tab div.comment{border-color: #ececec;}  
			#quantity_wanted_p input{border-color: #ececec !important;}  
			#columns .content-inner .nav-tabs > li > a{border-color: transparent;}
			#columns .content-inner #thumbs_list li a{border-color: #ffffff;}  
			#columns .content-inner #thumbs_list li a:hover, #columns .content-inner #thumbs_list li a.shown{border-color: #ececec;} 
			#columns .content-inner .nav-tabs > li.active > a, #columns .content-inner .nav-tabs > li.active > a:hover, #columns .content-inner .nav-tabs > li.active > a:focus, #columns .content-inner .nav-tabs > li > a:hover{ border-color: #ececec; border-bottom-color: transparent;} 
			body.content_only *,  body.content_only .form-control, #product_comments_block_tab div.comment .comment_details, #product_comments_block_tab div.comment{border-color: #ececec;}  
			#quantity_wanted_p input{border-color: #ececec !important;}  
			body.content_only .nav-tabs > li > a{border-color: transparent;}
			body.content_only #thumbs_list li a{border-color: #ffffff;}  
			body.content_only #thumbs_list li a:hover, body.content_only #thumbs_list li a.shown{border-color: #ececec;} 
			body.content_only .nav-tabs > li.active > a, body.content_only .nav-tabs > li.active > a:hover, body.content_only .nav-tabs > li.active > a:focus
			, body.content_only .nav-tabs > li > a:hover{ border-color: #ececec; border-bottom-color: transparent;} .form-control, #quantity_wanted_p input, .form-control.grey{color: #9c9b9b; background-color: #ffffff;}  #columns .content-inner, body.content_only{color: #777777 !important; }  

			#columns .content-inner a, #columns .content-inner a:link, body.content_only a, body.content_only a:link{color: #777777  }  
			#columns .content-inner a:hover, body.content_only a:hover{color: #333333 }  

			#columns .content-inner .block .title_block, #columns .content-inner .block h4,
			#columns .content-inner .block .title_block a, #columns .content-inner .block h4 a,
			#columns .content-inner .nav-tabs > li > a, .pb-center-column h1, .page-heading, h3.page-product-heading
			{color: #777777 !important; }  
			
			body.content_only .block .title_block, body.content_only .block h4,
			body.content_only .block .title_block a, body.content_only .block h4 a,
			body.content_only .nav-tabs > li > a, .pb-center-column h1, .page-heading, h3.page-product-heading
			{color: #777777 !important; }  
			.box, #facebook_block, #cmsinfo_block, .table tfoot tr, .ph_simpleblog .simpleblog-posts .post-content, ul.step li.step_done{background:#fefefe ; color:#777777 ;}   .table > thead > tr > th{background:#f8f8f8 ; color:#777777 ;}   
		#center-layered-nav .layered_filter_center .active.layered_subtitle_heading,
		#center-layered-nav .layered_filter_center .active.layered_subtitle_heading div,
		#center-layered-nav .layered_filter_center > ul, #center-layered-nav a, #center-layered-nav:link{color: #777777 !important; background-color: #ffffff !important;}  .alert-success{background-color: #55c65e !important; color: #ffffff !important;} .alert-info{background-color: #5192f3 !important; color: #ffffff !important;} .alert-warning{background-color: #fe9126 !important; color: #ffffff !important;} .alert-danger{background-color: #f3515c !important; color: #ffffff !important;} .footer-container{background-color: #ffffff !important;} .footer-container{padding-bottom: 0px;} .footer-container .footer-container-inner1{background-color: #f8f8f8 !important;} .footer-container .footer-container-inner1{border-bottom-color: #f8f8f8 !important; } .footer-container .footer-container-inner1{border-color: #dddddd!important;} .footer-container .footer-container-inner1 *{border-color: #dddddd !important;}  .footer-container .footer-container-inner1, .footer-container .footer-container-inner1 #block_contact_infos > div ul li i{color: #777777 !important; }  

			.footer-container .footer-container-inner1 a, .footer-container .footer-container-inner1 a:link, .footer-container .footer-container-inner1 .bullet li a:before{color: #777777 !important; }  
			.footer-container .footer-container-inner1 a:hover{color: #333333 !important; }  

			.footer-container .footer-container-inner1 h4, .footer-container .footer-container-inner1 h4 a, .footer-container .footer-container-inner1 h4 a:link, .footer-container .footer-container-inner1 h4 a:hover{color: #555454 !important; }  
			.footer-container .footer-container-inner{background-color: #ffffff !important;} .footer-container .footer-container-inner{border-bottom-color: #ffffff !important; } .footer-container .footer-container-inner{border-color: #dddddd!important;} .footer-container .footer-container-inner *{border-color: #dddddd !important;}  #footer .form-control{color: #9c9b9b ; background-color: #ffffff ;} 
			#footer #newsletter_block_left .form-group .button-small{color: #9c9b9b !important;}

			 .footer-container .footer-container-inner, .footer-container .footer-container-inner #block_contact_infos > div ul li i{color: #777777 !important; }  

			.footer-container .footer-container-inner a, .footer-container .footer-container-inner a:link, .footer-container .footer-container-inner .bullet li a:before{color: #777777 !important; }  
			.footer-container .footer-container-inner a:hover{color: #333333 !important; }  

			.footer-container .footer-container-inner h4, .footer-container .footer-container-inner h4 a, .footer-container .footer-container-inner h4 a:link, .footer-container .footer-container-inner h4 a:hover{color: #555454 !important; }  
			#social_block_mod li a{background-color: #b6b6b6 !important; }
		#social_block_mod li a:before{ color: #ffffff !important;}
		 /* move up menu - helpfull when menu is white */
.megamenuiqit .container > .row{margin-top: -10px;}
nav.stick .container > .row{margin-top: 0px;}

/* since menu is transparent we need to add background color when it's sticky */
nav.stick{background: #fff !important;}

/* move up menu - helpfull when menu is white */
#header .shopping_cart > a
{
border: 1px solid #EBEBEB;
}

.shopping_cart .more_info{
padding-left: 0px;
}