#topmenuContener #megamenuiqit{text-align: center;
line-height: 0px; font-size: 0px;
}

#megamenuiqit > li {
float: none;
display: inline-block;
}

#megamenuiqit .megamenu_home_lnk{
top: 4px;
position: relative;
margin-top: 0px;
}
