@import "compass";
@import "theme_variables";

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
	color: #d7d7d7;
	line-height: 19px;
	margin: 0 0 20px 0;
	.content_scene_cat_bg {
	
		padding: 0px;
		.cat_desc {
			z-index: 2;
			position: absolute;
			top: 0;
			padding: 40px;
						@media  (max-width: $screen-sm-max) { // max 1199px
							padding: 20px;
						}
						@media  (max-width: $screen-ms-max) { 
							display: none;
						}
					}
	p {
		margin-bottom: 0;
	}
	a {
		color: $light-text-color;
		&:hover {
			text-decoration: underline;
		}
	}

	.content_scene {
		color: $base-body-color;

			a {
				color: $link-color;
				&:hover {
					color: $link-hover-color;	
				}
			}
		}
	}
}
.cat_desc_container { 
	border: $main_border; padding: 15px;
	margin-bottom: 20px;
	@media  (max-width: $screen-sm-max) { // max 1199px
		padding: 10px;
	}
		}
	


/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */

#subcategories {
	p.subcategory-heading {
		font: 12px / 14px $font-custom;
		color: $base-heading-color;
		border-bottom: $main_border;
		text-transform: uppercase;
		padding: 6px 5px 10px 0px;
		margin-bottom: 20px;
		margin-top: 0px;
	}
	ul {
		margin: 0 0 0 -20px;
		li {
			float: left;
			width: 72px;
			margin: 0 0 20px 20px;
			text-align: center;
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
				width:91px;
			}
			@media (min-width: $screen-md) and (max-width: $screen-md-max) {
				width:106px;
			}
			@media (min-width: $screen-lg) {
					width: 124px;
			}
			h5{
				overflow: hidden;
				height: 20px;
				line-height: 20px;
				margin-bottom: 0px;
			}
			.subcategory-image {
				a {
					display: block;
					border: 1px solid $base-border-color;
					img {
						max-width: 100%;
						vertical-align: top;
					}
				}
			}
			.cat_desc { 
				display: none;
			}	

		}
	}
}